<h3>Blackjack!</h3>

Welcome to Blackjack, <%= session[:player_name] %>.

<div class="well">
  <h4>Dealer's cards:</h4>
    <% session[:dealer_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>


<div class="well">
  <h4><%= session[:player_name] %>'s cards:</h4>
    <% session[:player_cards].each do |card| %>
      <%= card_image(card) %>
    <% end %>
</div>

<%= session[:player_name] %> has <%= calculate_total(session[:player_cards]) %>, and Dealer has <%= calculate_total(session[:dealer_cards]) %>.

<br/>

<% if @show_hit_or_stay_buttons %>
  <form id="hit_form" action="/game/player/hit" method="post">
    <input type="submit" class="btn btn-warning" value="Hit">  
  </form>

  <form id="stay_form" action="/game/player/stay" method="post">
    <input type="submit" class="btn btn-success" value="Stay">  
  </form>
<% end %>